* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin: 0rem 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.bloc1 {
  position: relative;
  background-size: auto;
  background-image: url("/img/la-chouette-agence-banniere.jpg");
  background-attachment: fixed;
}

.bloc1 .banner-haut {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc1 .banner-haut .logo {
  margin: 5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc1 .banner-haut .logo h2 {
  font-size: 30px;
  color: #f3976c;
}

.bloc1 .banner-haut .logo a {
  text-decoration: none;
  background: #f3976c;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.bloc2 {
  position: relative;
  background: white;
  background-size: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.bloc2 h1 {
  margin: 2rem 5rem;
  text-align: center;
}

.bloc2 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1rem;
}

.bloc2 .text .text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
}

.bloc2 .text .text1 h2 {
  font-size: 20px;
  margin-top: 1rem;
}

.bloc2 .text .text1 p {
  text-align: center;
  margin-top: 1rem;
  color: gray;
}

.bloc2 .review {
  margin: 2rem 0rem;
  text-align: center;
}

.bloc2 .review p {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.bloc2 .review .ref {
  font-style: normal;
  font-size: 18px;
  font-weight: lighter;
}

.bloc3 {
  position: relative;
  background-size: auto;
  background-image: url("/img/image-de-presentation.bmp");
  background-attachment: fixed;
  height: 573px;
}

.bloc3 .banner-milieu {
  padding: 5rem;
}

.bloc3 .banner-milieu .goal {
  background-color: rgba(165, 147, 99, 0.7);
  padding: 40px 40px 40px 40px;
}

.bloc3 .banner-milieu .goal h2 {
  text-align: center;
  font-size: 22px;
}

.bloc3 .banner-milieu .goal p {
  margin-top: 2rem;
  text-align: center;
  font-size: 15px;
}

.bloc3 .banner-milieu .goal a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1REM;
}

.bloc4 {
  color: white;
  background: repeating-linear-gradient(to bottom, white, white 5px, lightgrey 5px, lightgrey 6px);
}

.bloc4 h2 {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3rem;
  font-size: 25px;
}

.bloc4 .caroussel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 6rem;
}

.bloc4 .caroussel .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 270px;
  margin: 1rem;
}

.bloc4 .caroussel .card h3 {
  margin-top: 1rem;
  text-align: center;
}

.bloc4 .caroussel .card p {
  margin-top: 1rem;
  text-align: center;
}

.bloc4 .caroussel .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 270px;
  width: 270px;
}
/*# sourceMappingURL=styles2.css.map */