* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul{
        display: flex;
        align-items: center;
        
        li{
            margin: 0rem 1rem;
            list-style: none;

            a{
                text-decoration: none;
                color: black;
                
            }
        }
        
      }
  }

  .bloc1{
    position: relative;
    background-size: auto;
    background-image: url("/img/la-chouette-agence-banniere.jpg");
    background-attachment: fixed;


    .banner-haut{
        position: relative;
        display: flex;
        justify-content: center;

        .logo{
            
            margin: 5rem 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;

            h2{
                font-size: 30px;
                color: #f3976c;
            }

            a{
                text-decoration: none;
                background: #f3976c;
                color: white;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 1em;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
            }
        }
    }
  }

  .bloc2{
      position: relative;
      background: white;
      background-size: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 2rem;

      h1{
          margin: 2rem 5rem;
          text-align: center;
      }
      .text{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem 1rem;

          .text1{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0rem 1rem;

              h2{
                  font-size: 20px;
                  margin-top: 1rem;
              }
              p{
                  text-align: center;
                  margin-top: 1rem;
                  color: gray;
              }
          }
          
      }
      .review{
          margin: 2rem 0rem;
        text-align: center;

        p{
            font-style: italic;
            font-size: 20px;
            font-weight: bold;
        }
        .ref{
            font-style: normal;
            font-size: 18px;
            font-weight: lighter;
        }
      }

      

  }

  .bloc3{
    position: relative;
    background-size: auto;
    background-image: url("/img/image-de-presentation.bmp");
    background-attachment: fixed;
    

    .banner-milieu{
        padding: 4rem ;
    }
  }